* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 33) !important;
  color: white !important;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(18, 18, 62);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgb(153, 153, 226);
  font-size: 1.04rem;
}
main hr {
  border: 0;
  background: #9c97f1;
  height: 1.2px;
  margin: 60px 84px;
}
.left {
  font-size: 1.5rem;
  margin-right: 200px;
}

.left a {
  text-decoration: none;
  color: #ffff;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 130px 0;
}
.firstSection > div {
  width: 30%;
}
.leftSection {
  font-size: 2rem;
}
.leftSection .btn {
  padding: 12px;
  background: #1e2167;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
}
.buttons {
  margin-top: 25px;
}
.rightSection img {
  width: 80%;
}
.purple {
  color: rgb(170, 107, 228);
}
.text-gray {
  color: gray;
}
#element {
  color: rgb(170, 107, 228);
}
.secondSection {
  margin-top: 75px;
  margin-left: 125px;
  margin-bottom: 50px;
  height: 100vh;
}
.secondSection h1 {
  font-size: 1.9rem;
}
.box {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 85px 0;
  display: flex;
}
.vertical {
  height: 250px;
  width: 1px;
  background-color: white;
  margin-left: 80px;
  margin-right: 20px;
}

.vertical1 {
  height: 250px;
  width: 1px;
  background-color: white;
  margin: 0 55px;
}

.box2 {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 250px 0;
  display: flex;
}

.image-top {
  width: 70px;
  margin: 10px 10px;
  position: relative;
  right: 90px;
  border-radius: 50%;
}

.image-2top {
  width: 70px;
  margin: 10px 10px;
  position: relative;
  right: 90px;
}

.cnx_vertical {
  height: 220px;
  width: 1px;
  background-color: white;
  margin-left: 80px;
  margin-right: 20px;
}

.vertical2 {
  height: 220px;
  width: 1px;
  background-color: white;
  margin: 0 55px;
}

.vertical-title {
  margin-top: 10px;
}
.vertical-title2 {
  margin-top: 10px;
}

.vertical-title3 {
  margin-top: 10px;
  width: 313px;
}

.vertical-desc {
  margin-top: 10px;
}
.vertical-desc2 {
  margin-top: 10px;
}

footer {
  background-color: #0e0e1a;
  height: 120px;
}

.social {
  display: flex;
  justify-content: center;
}

.social i {
  margin-top: 30px;
  font-size: 50px;
  padding: 10px;
  color: #ffff;
}

.about_me,
.certification {
  text-align: center;
  padding: 50px;
}

.my_skills {
  padding: 20px 200px;
}

.my_skills h4 {
  text-align: center;
}

.contact_info {
  text-align: center;
  height: 65vh;
  padding: 100px;
}

.contact_info p {
  margin: 0px !important;
}

.euphoria_img img {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.euphoria_img img:hover,
.quiz_app img:hover {
  opacity: 0.4;
  cursor: pointer;
  width: 550px;
  height: 350px;
}

.frontend {
  padding: 20px;
}

.project_name,
.frontend {
  text-align: center;
}

.quiz_app img {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}
